html {
  color: #393939;
  font-family: Fira Sans;
  font-size: 11pt;
  font-weight: 300;
  line-height: 1.5;
}
h1 {
  string-set: top-right-text content();
}
@page {
  @top-left {
    content: url("DCP_Logo.svg");
  }
  @top-right {
    content: string(top-right-text);
  }
  @bottom-right-corner {
    content: counter(page);
    text-align: center;
  }
}
