<div class="doc-section">

  <div class="doc-section-title">Attributes</div>

  <div class="doc-section-content">
    <div class="attribute-section">
      <span class="attribute-name">Agency: </span>
      <span class="attribute-value">{{ metadata.attributes.agency }}</span>
    </div>

    <div class="attribute-section">
      <span class="attribute-name">Description: </span>
      <span class="attribute-value">{{ metadata.attributes.description }}</span>
    </div>

    <div class="attribute-section">
      <span class="attribute-name">Each row is a: </span>
      <span class="attribute-value">{{ metadata.attributes.each_row_is_a }}</span>
    </div>

    <div class="attribute-section">
      <span class="attribute-name">Tags: </span>
      <span class="attribute-value">{{ metadata.attributes.tags|join(', ') }}</span>
    </div>

  </div>

</div>