<div class="doc-section">

  <div class="doc-section-title">Columns</div>

  <div class="doc-section-content">
    {% for column in metadata.columns %}
    <div class="column-section">

      <div class="column-name">{{ column.name }} ({{ column.id }})</div>

      <div class="column-field">
        <span class="column-field-name">Description:</span>
        <span class="column-field-value">{{ column.description }}</span>
      </div>
      <div class="column-field">
        <span class="column-field-name">Type:</span>
        <span class="column-field-value">
          {% if column.custom.readme_data_type %}
          {{ column.custom.readme_data_type }}
          {% else %}
          {{ column.data_type }}
          {% endif %}
        </span>
      </div>
      <div class="column-field">
        <span class="column-field-name">Source:</span>
        <span class="column-field-value">{{ column.data_source }}</span>
      </div>
      <div class="column-field">
        <span class="column-field-name">Example:</span>
        <span class="column-field-value">{{ column.example }}</span>
      </div>

    </div>
    {% endfor %}
  </div>

</div>