html {
  color: #393939;
  font-family: Fira Sans;
  font-size: 10pt;
}

.doc-section {
  padding-bottom: 10px;
  display: flex;
}
.doc-section-title {
  flex: 1;
  font-weight: bold;
}
.doc-section-content {
  flex: 3;
}

.attribute-section {
  padding-bottom: 15px;
}
.attribute-name {
  font-weight: bold;
}
.attribute-value-tag {
  background: #eeeeee;
  border-radius: 8px;
  padding: 5px;
  margin-left: 5px;
}

.column-section {
  padding-bottom: 15px;
}
.column-name {
  font-weight: bold;
  padding-bottom: 5px;
}
.column-field {
  text-indent: 10px;
}
.column-field-name {
  font-weight: bold;
}
