BUILD_ENGINE=postgresql://postgres:postgres@localhost:5432/postgres 
AWS_S3_ENDPOINT=https://nyc3.digitaloceanspaces.com
AWS_SECRET_ACCESS_KEY=
AWS_ACCESS_KEY_ID=
RECIPES_BUCKET=edm-recipes
RECIPE_ENGINE=
PUBLISHING_BUCKET=edm-publishing
PUBLISHING_BUCKET_ROOT_FOLDER=
PRODUCT_METADATA_REPO_PATH=../product-metadata/
TEMPLATE_DIR=./ingest_templates
