# Build Engine
BUILD_ENGINE_HOST=
BUILD_ENGINE_USER=
BUILD_ENGINE_PASSWORD=
BUILD_ENGINE_PORT=

# DO/S3
AWS_S3_ENDPOINT=
AWS_SECRET_ACCESS_KEY=
AWS_ACCESS_KEY_ID=

# DCPY Lifecycle
RECIPES_BUCKET=
RECIPE_ENGINE=

PUBLISHING_BUCKET=
PUBLISHING_BUCKET_ROOT_FOLDER=

# dcpy assets/dependencies
PRODUCT_METADATA_REPO_PATH=
TEMPLATE_DIR=
