boto3==1.24.47
geopandas==0.*
matplotlib==3.*
numerize==0.*
numpy==1.*
pandas==1.*
plotly==5.*
psycopg2-binary==2.9.6
pytest==7.3.0
python-abc==0.*
python-dotenv==0.*
sqlalchemy==2.0.9
streamlit-aggrid==0.*
streamlit==1.*
tabulate==0.9.*