TENANT_ID=XXXXXXXXXXXXXXXXXXXX
ZAP_DOMAIN=https://{{organization}}.{{crm}}.dynamics.com
CLIENT_ID=XXXXX-XXXXXX-XXXX-XXXXXXX
SECRET=XXXXX-XXXXXX-XXXX-XXXXXXX
ZAP_ENGINE=XXXX
DBT_PROFILES_DIR=.dbt/
TEST_SCHEMA_SUFFIX=your_name
