beautifulsoup4>=4.9.3
boto3>=1.28.1
boto3-stubs[s3]>=1.28.1
cached-property
cloudpathlib[all]
contextily
css-inline
dbt-core
dbt-postgres
diagrams>=0.23.3
duckdb
faker
folium
GDAL==3.11.3
geopandas
geoalchemy2
graphviz>=0.20.1
ipykernel
Jinja2>=3.1.2
leafmap
lxml>=4.6.2
mapclassify
matplotlib
moto[s3]
msal>=1.23.0
mypy
numerize
openpyxl
openpyxl-stubs
pandas
pandas-stubs
pandera
paramiko
types-paramiko
plotly
pre-commit
psycopg2-binary
types-psycopg2
pyarrow
pyarrow-stubs
pydantic
pytest
pytest-cov
python-dotenv>=0.20.0
python-geosupport @ git+https://github.com/NYCPlanning/python-geosupport@main
pytz>=2023.3
PyYAML>=6.0.1
types-PyYAML>=6.0.1
rich>=13.4.2
ruff
setuptools
socrata-py==1.1.13
sqlalchemy
sqlalchemy-stubs
sqlfluff
sqlfluff-templater-dbt
streamlit
streamlit-aggrid
streamlit-folium
tabulate
tqdm>=4.59.0
types-tqdm
typer>=0.8.0
types-beautifulsoup4
types-python-dateutil
types-requests
types-setuptools
urllib3>=1.26.18
us
uv
usaddress>=0.5.10
xlrd>=2.0.1
