name: Template - Tests
on:
  workflow_call:
    inputs:
      image_tag:
        type: string
        required: true
      build_name:
        type: string
        required: true

env:
  TOY_SECRET_GITHUB: ${{ secrets.TOY_SECRET }}
  BUILD_ENGINE_DB: db-template
  BUILD_NAME: ${{ inputs.build_name }}
  RECIPES_BUCKET: edm-recipes
  PUBLISHING_BUCKET: edm-publishing

jobs:
  unit_tests:
    name: Template DB Unit tests
    runs-on: ubuntu-22.04
    container:
      image: nycplanning/dev:${{ inputs.image_tag || 'latest'}}
    steps:
      - uses: actions/checkout@v4

      - name: Load Secrets
        uses: 1password/load-secrets-action@v1
        with:
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          AWS_S3_ENDPOINT: "op://Data Engineering/DO_keys/AWS_S3_ENDPOINT"
          AWS_SECRET_ACCESS_KEY: "op://Data Engineering/DO_keys/AWS_SECRET_ACCESS_KEY"
          AWS_ACCESS_KEY_ID: "op://Data Engineering/DO_keys/AWS_ACCESS_KEY_ID"
          BUILD_ENGINE_SERVER: "op://Data Engineering/EDM_DATA/server_url"
          TOY_SECRET_1PASSWORD: "op://Data Engineering/TestSecretsFile/TOY_SECRET"

      - name: Run python tests
        run: |
          python3 -m pytest ./products/template -m "not end_to_end" -s --verbose --verbose

  build:
    name: Template DB Build
    uses: ./.github/workflows/template_build.yml
    with:
      recipe_file: recipe
      logging_level: DEBUG
      build_note: a test build
      image_tag: ${{ inputs.image_tag || 'latest' }}
      build_name: ${{ inputs.build_name }} # can't pass env var here. Just not supported in GHA
    secrets: inherit

  e2e_tests:
    name: Template DB End-to-End (E2E) tests
    needs: build
    runs-on: ubuntu-22.04
    container:
      image: nycplanning/dev:${{ inputs.image_tag || 'latest' }}
    steps:
      - uses: actions/checkout@v4

      - name: Load Secrets
        uses: 1password/load-secrets-action@v1
        with:
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          AWS_S3_ENDPOINT: "op://Data Engineering/DO_keys/AWS_S3_ENDPOINT"
          AWS_SECRET_ACCESS_KEY: "op://Data Engineering/DO_keys/AWS_SECRET_ACCESS_KEY"
          AWS_ACCESS_KEY_ID: "op://Data Engineering/DO_keys/AWS_ACCESS_KEY_ID"
          BUILD_ENGINE_SERVER: "op://Data Engineering/EDM_DATA/server_url"
          TOY_SECRET_1PASSWORD: "op://Data Engineering/TestSecretsFile/TOY_SECRET"

      - name: Finish container setup
        working-directory: ./
        run: ./bash/docker_container_setup.sh

      - name: Set build environment variables
        working-directory: ./
        run: ./bash/build_env_setup.sh

      - name: Run end-to-end tests
        run: |
          python3 -m pytest ./products/template -m "end_to_end" -s --verbose --verbose
