name: Template - Build

on:
  workflow_call:
    inputs:
      logging_level:
        type: string
        required: true
      build_note:
        type: string
        required: false
      image_tag:
        type: string
        required: false
      build_name: 
        type: string
        required: false
      recipe_file:
        type: string
        required: true
      version:
        type: string
        required: false
      plan_command:
        type: string
        default: recipe
      dev_bucket:
        type: string
        required: false

env:
  TOY_SECRET_GITHUB: ${{ secrets.TOY_SECRET }}
  GHP_TOKEN: ${{ secrets.GHP_TOKEN }}
  BUILD_ENGINE_DB: db-template
  BUILD_NAME: ${{ inputs.build_name || github.head_ref || github.ref_name }}
  LOGGING_LEVEL: ${{ inputs.logging_level }}
  RECIPES_BUCKET: ${{ inputs.dev_bucket || 'edm-recipes' }}
  PUBLISHING_BUCKET: ${{ inputs.dev_bucket || 'edm-publishing' }}
  DEV_FLAG: ${{ inputs.dev_bucket && 'true' || 'false' }}

jobs:
  build:
    name: Build TemplateDB
    runs-on: ubuntu-22.04
    container:
      image: nycplanning/dev:${{ inputs.image_tag || 'latest' }}
    defaults:
      run:
        shell: bash
        working-directory: products/template
    steps:
      - uses: actions/checkout@v4

      - uses: actions/checkout@v4
        with:
          repository: NYCPlanning/product-metadata
          path: product_metadata

      - name: set_product_metadata_path
        run:  echo "PRODUCT_METADATA_REPO_PATH=$(pwd)/product_metadata" >> $GITHUB_ENV
        working-directory: ./

      - name: Load Secrets
        uses: 1password/load-secrets-action@v1
        with:
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          AWS_S3_ENDPOINT: "op://Data Engineering/DO_keys/AWS_S3_ENDPOINT"
          AWS_SECRET_ACCESS_KEY: "op://Data Engineering/DO_keys/AWS_SECRET_ACCESS_KEY"
          AWS_ACCESS_KEY_ID: "op://Data Engineering/DO_keys/AWS_ACCESS_KEY_ID"
          BUILD_ENGINE_SERVER: "op://Data Engineering/EDM_DATA/server_url"
          BUILD_ENGINE_HOST: "op://Data Engineering/EDM_DATA/server"
          BUILD_ENGINE_USER: "op://Data Engineering/EDM_DATA/username"
          BUILD_ENGINE_PASSWORD: "op://Data Engineering/EDM_DATA/password"
          BUILD_ENGINE_PORT: "op://Data Engineering/EDM_DATA/port"
          TOY_SECRET_1PASSWORD: "op://Data Engineering/TestSecretsFile/TOY_SECRET"

      - name: Health check
        run: |
          python --version
          echo "Hello build note: ${{ inputs.build_note }}"
          echo "Hello logging level: ${{ inputs.logging_level }} (directly from action inputs)"
          echo "Hello logging level: $LOGGING_LEVEL (from envar from action inputs)"
          echo "Running python.run_logging ..."
          python -m python.run_logging

      - name: Setup build environment
        working-directory: ./
        run: |
          ./bash/docker_container_setup.sh
          ./bash/build_env_setup.sh

      - name: Plan build
        run: |
          python -m dcpy.lifecycle.builds.plan ${{ inputs.plan_command }}

      - name: Set recipe env vars
        working-directory: ./
        run: |
          source ./bash/export_recipe_env.sh products/template/${{ inputs.recipe_file }}.lock.yml 

      - name: Load
        run: |
          python -m dcpy lifecycle builds load load --recipe-path ${{ inputs.recipe_file }}.lock.yml

      - name: Transform
        run: |
          python -m build_scripts.transform

      - name: Export
        run: |
          python -m build_scripts.export
